<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Energizer Scores</title>
		<link type="text/css" rel="stylesheet" href="styles.css" />
		<script type="application/javascript" src="main.js" defer></script>
	</head>
	<body>
		<section class="container">
			<h1 class="title">Energizer Scores</h1>
			<button class="getscores" id="getscores">Get Scores</button>
			<section class="scoresSection" id="scores">
				<ol id="listscores"></ol>
			</section>
		</section>
	</body>
</html>
